#winBanner, #winBanner2, #winBanner3, #winBanner4 {
  display:none;
}

.confetti
{
  width: 20px;
  height: 20px;
  margin-top: -200px;
  margin-right: -300px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position:relative;
  animation:confetti 5s;
  -webkit-animation:confetti 5s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; /* Safari and Chrome */
}
@keyframes confetti
{
  0% {top:0px}
  100% {top:1500px}
}
@-webkit-keyframes confetti /* Safari and Chrome */
{
  0% {top:0px;}
  100% {top:1500px;}
}
.confetti1, .confetti2, .confetti3, .confetti4 {
  background-color: #e47df2;
}
.confetti1 .confetti12 {
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
.confetti1 {
  margin-left: 50px;
}
.confetti2 {
  margin-left: 300px;
}
.confetti3, .confetti6, .confetti20 {
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
}
.confetti3 {
  margin-left: 800px;
}
.confetti4 {
  margin-left: 600px;
  animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
}
.confetti5, .confetti6, .confetti7 {
  background-color: #919bf2;
}
.confetti5 {
  margin-left: 700px;
}
.confetti6 {
  margin-left: 200px;
}
.confetti7, .confetti8 {
  animation-delay:3s;
  -webkit-animation-delay:3s;
}
.confetti17 {
  margin-left: 100px;
}
.confetti8, .confetti9, .confetti10, .confetti11 {
  background-color: #a2f2e3;
}
.confetti8 {
  margin-left: 200px;
}
.confetti9 {
  margin-left: 900px;
}
.confetti10, .confetti14, .confetti18 {
  animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
}
.confetti10 {
  margin-left: 550px;
}
.confetti11 {
  margin-left: 350;
  animation-delay:2s;
  -webkit-animation-delay:2s;
}
.confetti12, .confetti13, .confetti14 {
  background-color: #b2f2a4;
}
.confetti12 {
  margin-left: 350;
}
.confetti13 {
  margin-left: 620;
  animation-delay:3s;
  -webkit-animation-delay:3s;
}
.confetti14 {
  margin-left: 570;
}
.confetti15, .confetti16, .confetti17, .confetti18 {
  background-color: #f9ed68;
}
.confetti15 {
  margin-left: 650px;
}
.confetti16 {
  margin-left: 100px;
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
}
.confetti17, .confetti21 {
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
}
.confetti17 {
  margin-left: 250px;
}
.confetti18 {
  margin-left: 450px;
}
.confetti19, .confetti20, .confetti21 {
  background-color: #f7aa59;
}
.confetti19 {
  margin-left: 450px;
}
.confetti20 {
  margin-left: 850px;
}
.confetti21 {
  margin-left: 200px;
}









.confetti22, .confetti23, .confetti24, .confetti25 {
  background-color: #e47df2;
}
.confetti21 .confetti24 {
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
.confetti22 {
  margin-left: 145px;
}
.confetti23 {
  margin-left: 89px;
}
.confetti24, .confetti25, .confetti26 {
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
}
.confetti24 {
  margin-left: 489px;
}
.confetti25 {
  margin-left: 345px;
  animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
}
.confetti26, .confetti27, .confetti28 {
  background-color: #919bf2;
}
.confetti26 {
  margin-left: 578px;
}
.confetti27 {
  margin-left: 134px;
}
.confetti28, .confetti29 {
  animation-delay:3s;
  -webkit-animation-delay:3s;
}
.confetti38 {
  margin-left: 78px;
}
.confetti29, .confetti30, .confetti31, .confetti32 {
  background-color: #a2f2e3;
}
.confetti29 {
  margin-left: 163px;
}
.confetti30 {
  margin-left: 823px;
}
.confetti31, .confetti35, .confetti38 {
  animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
}
.confetti31 {
  margin-left: 414px;
}
.confetti32 {
  margin-left: 289;
  animation-delay:2s;
  -webkit-animation-delay:2s;
}
.confetti33, .confetti34, .confetti35 {
  background-color: #b2f2a4;
}
.confetti36 {
  margin-left: 315;
}
.confetti34 {
  margin-left: 497;
  /*animation-delay:3s;*/
  -webkit-animation-delay:3s;
}
.confetti35 {
  margin-left: 539px;
}
.confetti36, .confetti37, .confetti38, .confetti39 {
  background-color: #f9ed68;
}
.confetti36 {
  margin-left: 575px;
}
.confetti37 {
  margin-left: 49px;
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
}
.confetti38, .confetti42 {
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
}
.confetti38 {
  margin-left: 189px;
}
.confetti39 {
  margin-left: 472px;
}
.confetti40, .confetti41, .confetti42 {
  background-color: #f7aa59;
}
.confetti40 {
  margin-left: 389px;
}
.confetti41 {
  margin-left: 812px;
}
.confetti42 {
  margin-left: 183px;
}
  /*===========================================*/

body {
  font-family: 'Changa One', cursive;
}

#win {
  display: none;
}

#hold2 {
  background-color: #f2b99f;
  display: block;
  margin: auto;
}
#roll2 {
  background-color: #f2b99f;
  display: block;
  margin: auto;
}

#p2turn {
  display: none;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  /*margin-bottom: 90px;*/
}

.btn {
  background-color: #f2b99f;
  display: block;
  margin: auto;
}

.btn:hover {
  background-color: #e5f9d1;
}

.jumbotron {
  background-image: url(../img/pigfarm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 30%;
}

#pigHeader {
  font-family: 'Changa One', cursive;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  height: 150px;
  width: 80%;
  margin: auto;
  padding-top: 8em;
  padding-bottom: 15em;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

.panel {
  opacity: 0.9;
  justify-content: center;
  margin: auto;
}

.panel-heading-custom {
  background-color: #e5f9d1;
}

.opaque {
  position: relative;
  top: -3.5em;
  color: black;
}

/*=============================================*/
/*.clear {
clear: both;
}
.container {
width: 960px;
margin: auto;
}
h3 {
font-family: 'Josefin Sans', "sans-serif";
margin-top: 250px;
font-size: 130pt;
color: #c9bcb8;
position: absolute;
z-index: -100;
}
body {
background-image: url('p5.png');
}*/
